<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.dcloud.nativeresource">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera.any" android:required="false" />
  <application
    android:usesCleartextTraffic="true"
    tools:replace="android:usesCleartextTraffic" />
</manifest>
